In [ ]:
# index回傳指定值的位置

students = ['Jean', 'Lucy', 'Kuku', 'Mia']
students.index('Jean')

0

In [ ]:
# 根據上述方式，若無該值，則出現錯誤

students = ['Jean', 'Lucy', 'Kuku', 'Mia']
students.index('Huhu')

ValueError: ignored

In [ ]:
# "查找"位置較為安全的方式
# count：Return number of occurrences of value.

data = 'Jean'

if students.count(data) > 0:
  print(data,'的位置是',students.index(data))

else:
  print('查無此人')

Jean 的位置是 0

In [ ]:
# 同上，舉例未在students內的值

data = 'Huhu'

if students.count(data) > 0:
  print(data,'的位置是',students.index(data))

else:
  print('查無此人')

查無此人

In [ ]:
# Practice：變更tuple & list內的值

tupledata = ('Yo', 'yo')
listdata = ['Yo', 'yo']

# tupledata[0] = 'He' ---->此段無法執行，tuple型態無法變更
listdata[0] = 'Ya'

print(tupledata)
print(listdata)

('Yo', 'yo')
['Ya', 'yo']

In [ ]:
# 變更list中的值很重要

students = ['Jean', 'Lucy', 'Kuku', 'Mia']
students[0] = 'Huhu'
print(students)

['Huhu', 'Lucy', 'Kuku', 'Mia']

In [ ]:
# sort：排序，list會被改變

scores = [29, 16, 15, 99]
scores.sort()
print(scores)
scores.sort(reverse = True) # reverse = True or False來決定大-小 or 小-大
print(scores)

[15, 16, 29, 99]
[99, 29, 16, 15]

In [ ]:
# sorted：排序，list不被改變（僅顯示）

scores = [29, 16, 15, 99]
print(sorted(scores))
print(scores)

[15, 16, 29, 99]
[29, 16, 15, 99]

In [ ]:
# Practice：執行以下程式，結果為錯誤，tuple型態不能變更

tuple1 = ('1','2')
tuple1[1] = '0'
print(tuple1)

TypeError: ignored

In [ ]:
# Practice：同上，執行以下程式，list型態可變更

list1 = ['1','2']
list1[1] = '0'
print(list1)

['1', '0']

In [ ]:
# Practice：輸出列表中的Hello、World，但不可用","隔開

list1 = ['H','e','l','l','o','W','o','r','l','d']

print(''.join(list1[:5]))
print(''.join(list1[-5:]))

Hello
World

In [ ]:
# Practice：依照題目要求之結果，輸入正確的程式碼

# You have a list x that is defined as follows:
# x = ['a', 'b', 'b']
# You need to change the second 'b'(the third element) to 'c'

x = ['a', 'b', 'b']
x[2] = 'c' # --> answer
print(x)

['a', 'b', 'c']

In [ ]:
# append：附加資料(一次一筆)

scores = [12, 24, 35, 46]
scores.append(0)
scores

[12, 24, 35, 46, 0]

In [ ]:
# 補充：如上，亦可使用 + 的方法

scores = [12, 24, 35, 46]
scores = scores + [0]
scores

[12, 24, 35, 46, 0]

In [ ]:
# insert：Insert object before index.
# list.insert(index, object)
# 若無索引值，則改為append方式附加

scores = [12, 24, 35, 46]
scores.insert(1, 0)
scores

[12, 0, 24, 35, 46]

In [ ]:
# extend：擴增資料(一次多筆)

scores = [12, 24, 35, 46]
scores.extend([0,1])
scores

[12, 24, 35, 46, 0, 1]

In [ ]:
# 補充：如上，將extend改為append，則使數值被包成一個列表

scores = [12, 24, 35, 46]
scores.append([0,1])
scores

[12, 24, 35, 46, [0, 1]]

In [ ]:
# Practice

listdata = ['a', 'b', 'c']

print('附加之前：',listdata)
print('附加之前長度：',len(listdata))
listdata.append(['def','ghij'])

print('附加之後：',listdata)
print('附加之後長度：',len(listdata))
listdata.extend(['def','ghij'])

print('擴增之後：',listdata)
print('擴增之後長度：',len(listdata))

附加之前： ['a', 'b', 'c']
附加之前長度： 3
附加之後： ['a', 'b', 'c', ['def', 'ghij']]
附加之後長度： 4
擴增之後： ['a', 'b', 'c', ['def', 'ghij'], 'def', 'ghij']
擴增之後長度： 6

In [ ]:
# Practice

data = ['this', 'is', 'list']

print(data)

data.insert(1, 'item')
print(data)

data.insert(99, '99')
print(data)  # --->無99位置，因此改為append方式附加

['this', 'is', 'list']
['this', 'item', 'is', 'list']
['this', 'item', 'is', 'list', '99']

In [ ]:
# del：移除資料

scores = [12, 24, 35, 46]
del(scores[2])
scores

[12, 24, 46]

In [ ]:
# remove：Remove first occurrence of value.
# list.remove(value)

scores = [12, 24, 35, 46, 24]
scores.remove(24)
scores

# 補充：如有重複的值，僅移除第一個

[12, 35, 46, 24]

In [ ]:
# pop：Remove and return item at index(default last).
# list.pop(index = -1)
# 若無索引值，則移除最後一筆資料

scores = [12, 24, 35, 46]
scores.pop(1)
scores

[12, 35, 46]

In [ ]:
# Practice

data = ['1', 'x', '2', 'x', '3']

data.remove('x')
data

['1', '2', 'x', '3']

In [ ]:
# Practice

data = ['1', 'x', '2', 'x', '3']

del(data[:1])
data

['x', '2', 'x', '3']

In [ ]:
# Practice

data = ['c', 'b', 'a', 'A']
data.sort()
print(data)
# 可使用ord查看ASCII編碼
print(ord('A'), ord('a'), ord('b'), ord('c'))

['A', 'a', 'b', 'c']
65 97 98 99

In [ ]:
# Practice：不變更資料

data = ['5', '2', '1', '9', '6']

print(sorted(data))
print(data)

print(sorted(data, reverse = True))
print(data)

['1', '2', '5', '6', '9']
['5', '2', '1', '9', '6']
['9', '6', '5', '2', '1']
['5', '2', '1', '9', '6']

In [ ]:
# Practice：變更資料

data = ['5', '2', '1', '9', '6']

data.sort(reverse = True)
print(data)

['9', '6', '5', '2', '1']

In [ ]:
%%time
# 研究list comprehension_1
# 迴圈寫法

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9
CPU times: user 4.71 ms, sys: 979 µs, total: 5.69 ms
Wall time: 10.4 ms

In [ ]:
%%time
# 研究list comprehension_2
# 加入append迴圈寫法

data = []

for i in range(10):
  data.append(i)

print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
CPU times: user 1.1 ms, sys: 7 µs, total: 1.1 ms
Wall time: 1.18 ms

In [ ]:
%%time
# 研究list comprehension_3
# 最有效寫法

data1 = [i for i in range(10)]

print(data1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
CPU times: user 395 µs, sys: 0 ns, total: 395 µs
Wall time: 319 µs

In [ ]:
%%time
# 研究list comprehension_4
# 補充：numpy寫法

import numpy as np
data2 = np.arange(10)

print(data2)

[0 1 2 3 4 5 6 7 8 9]
CPU times: user 302 µs, sys: 0 ns, total: 302 µs
Wall time: 309 µs

In [ ]:
# 九九乘法表
# 二層迴圈

for i in range(1, 10):
  for j in range(1, 10):
    print(i, '*', j, '=', i * j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 九九乘法表
# list comprehension
[i * j for i in range(1, 10) for j in range(1, 10)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [ ]:
# loop_if

for i in range(10):
  if i % 2 == 0:
    print(i)

0
2
4
6
8

In [ ]:
# loop_if
# list comprehension

[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
# loop_if else

for i in range(10):
  if i % 2 == 0:
    print(0)
  else:
    print(1)

0
1
0
1
0
1
0
1
0
1

In [ ]:
# loop_if else
# list comprehension

[0 if i % 2 == 0 else 1 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
# Practice_1
# 使src = [1, 2, 3, 4, 5, 6]

src = [[1, 2, 3], [4, 5], [6]]

ans = []
for s in src:
  print(s)
  ans.extend(s)

ans

[1, 2, 3]
[4, 5]
[6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# Practice_2
# 使src = [1, 2, 3, 4, 5, 6]

for i in src:
  for s in i:
    ans.append(s)
ans

[1, 2, 3, 4, 5, 6]

In [ ]:
# Practice_3
# 使src = [1, 2, 3, 4, 5, 6]
# list comprehension

src = [[1, 2, 3], [4, 5], [6]]

[s for i in src for s in i]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 清單中找水果

fruits = ['香蕉', '蘋果', '橘子', '鳳梨', '西瓜']
f = input('請輸入希歡的水果(Enter結束)')

while True:
  if f == '':
    break

  if fruits.count(f) > 0:
    print(f,'在清單中第', fruits.index(f), '項')
  else:
    print(f, '不在清單中')

  f = input('請輸入希歡的水果(Enter結束)')

print('歡迎再回來')

請輸入希歡的水果(Enter結束)蘋果
蘋果 在清單中第 1 項
請輸入希歡的水果(Enter結束)柳丁
柳丁 不在清單中
請輸入希歡的水果(Enter結束)

In [1]:
# 補充：每數值再加10

values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[x + 10 for x in values]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
# 補充：被2整除

values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[x for x in values if x % 2 == 0]

[2, 4, 6, 8, 10]