## 匿名函數運用

In [ ]:
# 具名函數
# 開根號乘以10

def upgrade(s):
  return (round(s ** 0.5 * 10))

upgrade(55)

74

In [ ]:
# 具名函數_迴圈

scores = [2, 13, 27, 39, 46, 58]

for s in scores:
  print(upgrade(s))

14
36
52
62
68
76

In [ ]:
# 具名函數_List Comprehension-1

scores = [2, 13, 27, 39, 46, 58]

[upgrade(s) for s in scores]

[14, 36, 52, 62, 68, 76]

In [ ]:
# 具名函數_List Comprehension-2

scores = [2, 13, 27, 39, 46, 58]

[round(s ** 0.5 * 10) for s in scores]

[14, 36, 52, 62, 68, 76]

#### 匿名函數

In [ ]:
# 匿名函數

up = lambda x: round(x ** 0.5 * 10)
up(55)

74

In [ ]:
# 匿名函數_迴圈

scores = [2, 13, 27, 39, 46, 58]

for s in scores:
  print((lambda x: round(x ** 0.5 * 10))(s))

14
36
52
62
68
76

In [ ]:
# 匿名函數_List Comprehension

scores = [2, 13, 27, 39, 46, 58]

[(lambda x: round(x ** 0.5 * 10)) (s) for s in scores]

[14, 36, 52, 62, 68, 76]

In [ ]:
# Practice

## 具名函數
def f(x, y, z):
  return x + y + z

print('具名函數處理')
print(f(2, 30, 400))

## 匿名函數
k = lambda x, y, z: x + y + z

print('匿名函數處理')
print(k(2, 30, 400))

具名函數處理
432
匿名函數處理
432

In [ ]:
# Practice

mz = (lambda a = 'Wolfgangus', b = 'Theophilus', c = 'Mozart': a + b + c)
print(mz(a = 'Wolfgang', b = 'Amadeus'))

WolfgangAmadeusMozart

In [ ]:
# Practice
# put the funtion in the list

try1 = [lambda x: x ** 2, lambda x: x ** 3, lambda x: x ** 4]
print(try1.__class__)
print('------------------')

for h in try1:
  print('每一個',h.__class__)
  print('運算後是',h(3))
print('------------------')

print(try1[0](11)) # ---> 從list取出第零個進行運算，記得加上(參數)

<class 'list'>
------------------
每一個 <class 'function'>
運算後是 9
每一個 <class 'function'>
運算後是 27
每一個 <class 'function'>
運算後是 81
------------------
121

In [ ]:
# Practice

print('一般函數處理')
def f1(x):
  return x ** 2
def f2(x):
  return x ** 3
def f3(x):
  return x ** 4

try2 = [f1, f2, f3]

for ff in try2:
  print('每一個',ff.__class__)
  print('運算後是',ff(3))
print('------------------')

print(try2[0](11))

一般函數處理
每一個 <class 'function'>
運算後是 9
每一個 <class 'function'>
運算後是 27
每一個 <class 'function'>
運算後是 81
------------------
121

In [ ]:
# 補充：三元運算式

x, y = 1, 3

x if x <= y else y # 由下方判斷式改為單行

# if x <= y:
#   print(x)
# else:
#   print(y)

1

In [ ]:
# Practice
# 取最小

print('匿名函數可用於條件分析表達上')
findmin = lambda x, y: x if x < y else y

print(findmin(101 * 99, 102 * 98))
print(findmin(102 * 98, 101 * 99))

匿名函數可用於條件分析表達上
9996
9996

In [ ]:
# 承上練習，簡化

print('匿名函數可用於條件分析表達上')
findmin = lambda x, y: min(x, y)

print(findmin(101 * 99, 102 * 98))
print(findmin(102 * 98, 101 * 99))

匿名函數可用於條件分析表達上
9996
9996

In [ ]:
# 補充：Lambda 取代 def

import pandas as pd

students = {'names':['Lucy', 'Jean', 'Kuku', 'Mia'],
            'height':[158, 165, 158, 156]}

df = pd.DataFrame(students) # 轉換TABLE
df

  names  height
0  Lucy     158
1  Jean     165
2  Kuku     158
3   Mia     156

In [ ]:
# 承上補充，加上level欄位_1（def）
# 轉換身高 >=160 為高挑，其餘為普通

def grade(x):
  return('高挑' if x >=160 else '普通')

df['level'] = df['height'].apply(grade)
df

  names  height level
0  Lucy     158    普通
1  Jean     165    高挑
2  Kuku     158    普通
3   Mia     156    普通

In [ ]:
# 承上補充，加上level欄位_2（lambda）
# 轉換身高 >=160 為高挑，其餘為普通

df['level2'] = df['height'].apply(lambda x:'高挑' if x >=160 else '普通')
df

  names  height level level2
0  Lucy     158    普通     普通
1  Jean     165    高挑     高挑
2  Kuku     158    普通     普通
3   Mia     156    普通     普通

In [ ]:
# 一般寫法（def）

height = [158, 165, 158, 156]

def grade(x):
  return('高挑' if x >=160 else '普通')
for h in height:
  print(h, grade(h))

158 普通
165 高挑
158 普通
156 普通

In [ ]:
# 承上，加入convert（def）

convert = []
height = [158, 165, 158, 156]

def grade(x):
  return('高挑' if x >=160 else '普通')

for h in height:
  print(h, grade(h))
  convert.append(grade(h))
convert

158 普通
165 高挑
158 普通
156 普通

['普通', '高挑', '普通', '普通']

In [ ]:
# 一般寫法（lambda）

height = [158, 165, 158, 156]

g = lambda x: '高挑' if x >=160 else '普通'

for h in height:
  print(h, g(h))

158 普通
165 高挑
158 普通
156 普通

In [ ]:
# 一般寫法（list comprehension）

height = [158, 165, 158, 156]

['高挑' if x >=160 else '普通' for x in height]

['普通', '高挑', '普通', '普通']

In [ ]:
# 一般寫法（list comprehension with lambda indirectly）

height = [158, 165, 158, 156]

g = lambda x: '高挑' if x >=160 else '普通'

[g(x) for x in height]

['普通', '高挑', '普通', '普通']

In [ ]:
# 一般寫法（list comprehension with lambda directly）

height = [158, 165, 158, 156]

[(lambda x: '高挑' if x >=160 else '普通') (x) for x in height]

['普通', '高挑', '普通', '普通']

In [ ]:
# Practice
# 搭配dict，設計出分組挑選的流程

score = int(input('please input：'))

level = score // 10

data = {
    10 : lambda: print('Perfect'),
    9  : lambda: print('A'),
    8  : lambda: print('B'),
    7  : lambda: print('C'),
    6  : lambda: print('D')
    }

data.get(level, lambda: print('E') ) () # ()表示LAMBDA要輸出

please input：98
A

In [ ]:
# 承上練習，簡化

score = int(input('please input：'))

level = score // 10
data = {
    10 : 'Perfect',
    9  : 'A',
    8  : 'B',
    7  : 'C',
    6  : 'D'
    }

data.get(level, 'E' )

please input：66

'D'

#### map運用

In [ ]:
# https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html
# 使用list comprehension

# 來源
species = [0, 1, 1, 2, 0, 2]

# 對應表
target = {0:'setosa' , 1:'versicolor', 2:'virginica'}

#要轉換成以下
result = ['setosa', 'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica']

[target[s] for s in species]

['setosa', 'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica']

In [ ]:
# 承上例，使用map函數

# map?
# map(func, *iterables 逐一處理) --> map object
# map (函數, 資料) = 根據 [資料] 每一筆，逐一跟 [函數] 對應或轉換

list(map(lambda x: target[x], species))

['setosa', 'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica']

In [ ]:
# Practice

def multiply2(x):
	return x * 2
a = map(multiply2, [1, 2, 3, 4])
list1 = list(a)
print(list1)

a = map(lambda x : x * 2, [1, 2, 3, 4])
list2 = list(a)
print(list2)

b = [1, 2, 3, 4]
c = b * 2
print(c)

[2, 4, 6, 8]
[2, 4, 6, 8]
[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# 補充：

species = [0, 1, 1, 2, 0, 2]
target = {0:'setosa' , 1:'versicolor', 2:'virginica'}

def species_name(x):
  return[target[x]]
list(map(species_name, species))

[['setosa'],
 ['versicolor'],
 ['versicolor'],
 ['virginica'],
 ['setosa'],
 ['virginica']]

In [ ]:
# 承上練習，使用lambda函數

species = [0, 1, 1, 2, 0, 2]
target = {0:'setosa' , 1:'versicolor', 2:'virginica'}

def species_name(x):
  return[target[x]]
list(map(lambda x: target[x], species))

['setosa', 'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica']

In [ ]:
# Practice：list內包含dict資料型態

dict1 = [
         {'name'    : 'python', 
          'points'  : 10}, 
         {'name'    : 'java', 
          'points'  :  8} 
        ]
print(type(dict1))

list3 = map(lambda x : x['name'], dict1)
print(list(list3))
list4 = map(lambda x : x['points']*10, dict1)
print(list(list4))
list5 = map(lambda x : x['name'] == "python", dict1)
print(list(list5))
list6a = [1,  2,  3]
list6b = [10, 20, 30]
list6 = map(lambda x, y: x + y, list6a, list6b)
print(list(list6))

<class 'list'>
['python', 'java']
[100, 80]
[True, False]
[11, 22, 33]

In [ ]:
# 承上例，list comprehension拆解_1

list3 = map(lambda x : x['name'], dict1)
print(list(list3))

[d['name'] for d in dict1]

['python', 'java']

['python', 'java']

In [ ]:
# 承上例，list comprehension拆解_2

list4 = map(lambda x : x['points'] * 10, dict1)
print(list(list4))

[d['points'] * 10 for d in dict1]

[100, 80]

[100, 80]

In [ ]:
# 承上例，list comprehension拆解_3

list5 = map(lambda x : x['name'] == 'python', dict1)
print(list(list5))

[d['name'] == 'python' for d in dict1]

[True, False]

[True, False]

In [ ]:
# 承上例，list comprehension拆解_4

list6a = [1,  2,  3]
list6b = [10, 20, 30]
list6 = map(lambda x, y: x + y, list6a, list6b)
print(list(list6))

[z[0] + z[1] for z in zip(list6a, list6b)]

[11, 22, 33]

[11, 22, 33]

#### filter運用

In [ ]:
# 使用list comprehension

# filter?
# filter(function or None, iterable) --> filter object
# 排除0

species = [0, 1, 1, 2, 0, 2]
target = {0:'setosa' , 1:'versicolor', 2:'virginica'}

[s for s in species if s!=0]

[1, 1, 2, 2]

In [ ]:
# 承上例，使用filter函數
# filter需要藉由list產生最後結果

species = [0, 1, 1, 2, 0, 2]
target = {0:'setosa' , 1:'versicolor', 2:'virginica'}

list(filter(lambda x: True if x!=0 else False, species))

[1, 1, 2, 2]

In [ ]:
# Practice：list內包含dict資料型態

a = [1, 2, 3, 4, 5, 6]

list7 = filter(lambda x : x % 2 == 0, a) 
print(list(list7))
dict8 = [
        {'name': 'python', 'points': 10}, 
        {'name': 'java'  , 'points': 8 }
        ]
list8=filter(lambda x : x['name'] == 'python', dict8)
print(list(list8))

[2, 4, 6]
[{'name': 'python', 'points': 10}]

In [ ]:
# 承上例，list comprehension拆解_1

a = [1, 2, 3, 4, 5, 6]

list7 = filter(lambda x : x % 2 == 0, a) 
print(list(list7))

[aa for aa in a if aa % 2 == 0]

[2, 4, 6]

[2, 4, 6]

In [ ]:
# 承上例，list comprehension拆解_2

dict8 = [
        {'name': 'python', 'points': 10}, 
        {'name': 'java'  , 'points': 8 }
        ]
list8 = filter(lambda x : x['name'] == 'python', dict8)
print(list(list8)) 

[d for d in dict8 if d['name'] == 'python']

[{'name': 'python', 'points': 10}]

[{'name': 'python', 'points': 10}]

## Exam

In [ ]:
# exam_list comprehension_1
# 使data結果為[1, 2, 3, 4, 5, 6, 7, 8]

data = [[1, 2, 3], [4, 5], [6], [7, 8]]

for magic in data:
  for a in magic:
    print(a)
        
[a for magic in data for a in magic]

1
2
3
4
5
6
7
8

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# exam_list comprehension_2-1
# 使data結果為[1, 2, 3, 4, 5, 6, 7, 8]

data = [[1, 2, 3], [4, 5], 6, [7, 8]]

# 確認資料型態是否為list
for magic in data:
    print(magic, type(magic) == list)
print('------------')
# 不為list就加[]
for magic in data:
  if type(magic) == list:
    print(magic)
  else:
    print([magic])
print('------------')
[magic if type(magic) == list else [magic] for magic in data]

[1, 2, 3] True
[4, 5] True
6 False
[7, 8] True
------------
[1, 2, 3]
[4, 5]
[6]
[7, 8]
------------

[[1, 2, 3], [4, 5], [6], [7, 8]]

In [ ]:
# exam_list comprehension_2-2
# 接續上例

aa = [magic if type(magic) == list else [magic] for magic in data]

for ans in aa:
  for ans1 in ans:
    print(ans1)

[ans1 for ans in aa for ans1 in ans]

1
2
3
4
5
6
7
8

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# exam_list comprehension_2-*

data = [[1, 2, 3], [4, 5], 6, [7, 8]]

[ans1 for ans in [magic if type(magic) == list else [magic] for magic in data] for ans1 in ans]

[1, 2, 3, 4, 5, 6, 7, 8]

## HW：匿名函數操作

In [ ]:
# 水果list內容為['apple', 'banana', 'watermelon', 'papaya']
# 使用匿名函數在資料後方加上***

data = ['apple', 'banana', 'watermelon', 'papaya']

[r + '***' for r in data]

['apple***', 'banana***', 'watermelon***', 'papaya***']