#### 在Azure VM環境爬蟲台灣股市資料，匯入SSMS SQL Server

In [1]:
# step 1. 利用pandas抓取csv數據

import requests 
import pandas as pd

datestr = '20210715'
r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')
len(r.text)

2566824

In [2]:
# step 2. 根據數據格式進行切割

tickers = [] #宣告List
for i in r.text.split('\r\n'):
    if (len(i.split('",')) == 17 and i[0] != '='):
        _ticker = i.split('",') #使用",區隔每一個價格
        _ticker = [t.replace('"','') for t in _ticker] #將左邊的" 取代成空字元
        _ticker = [t.replace(',','') for t in _ticker] #將數字千分為 取代為空字元
        tickers.append(_ticker)
tickers[:100]

[['證券代號',
  '證券名稱',
  '成交股數',
  '成交筆數',
  '成交金額',
  '開盤價',
  '最高價',
  '最低價',
  '收盤價',
  '漲跌(+/-)',
  '漲跌價差',
  '最後揭示買價',
  '最後揭示買量',
  '最後揭示賣價',
  '最後揭示賣量',
  '本益比',
  ''],
 ['1101',
  '台泥',
  '11938157',
  '5094',
  '615005211',
  '51.50',
  '51.80',
  '51.30',
  '51.60',
  '+',
  '0.10',
  '51.50',
  '325',
  '51.60',
  '114',
  '12.34',
  ''],
 ['1101B',
  '台泥乙特',
  '0',
  '0',
  '0',
  '--',
  '--',
  '--',
  '--',
  ' ',
  '0.00',
  '53.40',
  '2',
  '53.90',
  '15',
  '0.00',
  ''],
 ['1102',
  '亞泥',
  '8267759',
  '3635',
  '430280018',
  '52.50',
  '52.60',
  '51.80',
  '51.90',
  '-',
  '0.60',
  '51.90',
  '146',
  '52.00',
  '2027',
  '10.16',
  ''],
 ['1103',
  '嘉泥',
  '635035',
  '446',
  '14180092',
  '22.30',
  '22.45',
  '22.25',
  '22.35',
  '+',
  '0.10',
  '22.35',
  '4',
  '22.40',
  '11',
  '7.79',
  ''],
 ['1104',
  '環泥',
  '661056',
  '421',
  '15094002',
  '23.05',
  '23.05',
  '22.75',
  '23.00',
  '+',
  '0.05',
  '22.95',
  '110',
  '23.00',
  '15',
  '10.50',
  ''],
 ['1108',
  '幸福',
  '354411',
  '222',
  '4731453',
  '13.25',
  '13.45',
  '13.20',
  '13.45',
  '+',
  '0.20',
  '13.40',
  '27',
  '13.45',
  '35',
  '15.46',
  ''],
 ['1109',
  '信大',
  '229251',
  '110',
  '5791449',
  '25.05',
  '25.35',
  '25.05',
  '25.35',
  ' ',
  '0.00',
  '25.30',
  '11',
  '25.35',
  '51',
  '7.24',
  ''],
 ['1110',
  '東泥',
  '1091120',
  '152',
  '19232152',
  '17.50',
  '17.75',
  '17.40',
  '17.50',
  ' ',
  '0.00',
  '17.45',
  '20',
  '17.50',
  '4',
  '145.83',
  ''],
 ['1201',
  '味全',
  '1234794',
  '576',
  '26850577',
  '21.60',
  '21.90',
  '21.50',
  '21.85',
  '+',
  '0.25',
  '21.80',
  '1016',
  '21.85',
  '95',
  '18.68',
  ''],
 ['1203',
  '味王',
  '19508',
  '33',
  '666776',
  '34.15',
  '34.20',
  '34.15',
  '34.20',
  ' ',
  '0.00',
  '34.15',
  '4',
  '34.30',
  '2',
  '18.39',
  ''],
 ['1210',
  '大成',
  '1180548',
  '917',
  '70167435',
  '59.40',
  '59.70',
  '59.00',
  '59.70',
  '+',
  '0.40',
  '59.70',
  '2',
  '59.80',
  '30',
  '13.95',
  ''],
 ['1213',
  '大飲',
  '6',
  '1',
  '51',
  '--',
  '--',
  '--',
  '--',
  ' ',
  '0.00',
  '8.45',
  '2',
  '8.78',
  '1',
  '0.00',
  ''],
 ['1215',
  '卜蜂',
  '809503',
  '910',
  '64080797',
  '78.20',
  '79.60',
  '78.00',
  '79.60',
  '+',
  '1.40',
  '79.50',
  '20',
  '79.60',
  '8',
  '11.79',
  ''],
 ['1216',
  '統一',
  '3214280',
  '1507',
  '234974002',
  '72.80',
  '73.40',
  '72.80',
  '73.40',
  '+',
  '0.20',
  '73.20',
  '1',
  '73.40',
  '96',
  '18.54',
  ''],
 ['1217',
  '愛之味',
  '2683892',
  '1135',
  '29875712',
  '10.95',
  '11.30',
  '10.85',
  '11.30',
  '+',
  '0.35',
  '11.25',
  '58',
  '11.30',
  '192',
  '20.18',
  ''],
 ['1218',
  '泰山',
  '328466',
  '229',
  '9493487',
  '28.70',
  '29.05',
  '28.70',
  '28.95',
  '+',
  '0.25',
  '28.95',
  '10',
  '29.00',
  '13',
  '15.82',
  ''],
 ['1219',
  '福壽',
  '776930',
  '392',
  '17649512',
  '22.50',
  '22.85',
  '22.40',
  '22.70',
  '+',
  '0.20',
  '22.70',
  '12',
  '22.75',
  '7',
  '12.54',
  ''],
 ['1220',
  '台榮',
  '368133',
  '178',
  '6276163',
  '16.95',
  '17.15',
  '16.85',
  '17.05',
  '+',
  '0.25',
  '17.05',
  '2',
  '17.10',
  '3',
  '13.22',
  ''],
 ['1225',
  '福懋油',
  '168396',
  '135',
  '7768285',
  '46.00',
  '46.50',
  '45.50',
  '46.25',
  '+',
  '0.70',
  '46.10',
  '2',
  '46.40',
  '16',
  '20.29',
  ''],
 ['1227',
  '佳格',
  '513832',
  '464',
  '28232058',
  '55.00',
  '55.10',
  '54.80',
  '55.00',
  '+',
  '0.10',
  '54.90',
  '18',
  '55.00',
  '56',
  '15.76',
  ''],
 ['1229',
  '聯華',
  '2005049',
  '1724',
  '103092727',
  '50.90',
  '51.90',
  '50.90',
  '51.70',
  '+',
  '0.80',
  '51.60',
  '14',
  '51.70',
  '18',
  '15.96',
  ''],
 ['1231',
  '聯華食',
  '927882',
  '852',
  '65384336',
  '69.10',
  '71.00',
  '69.10',
  '71.00',
  '+',
  '2.00',
  '70.90',
  '21',
  '71.00',
  '66',
  '16.82',
  ''],
 ['1232',
  '大統益',
  '115898',
  '406',
  '19006030',
  '164.00',
  '165.50',
  '162.50',
  '164.50',
  '+',
  '1.00',
  '164.50',
  '3',
  '165.00',
  '1',
  '17.39',
  ''],
 ['1233',
  '天仁',
  '33006',
  '28',
  '1145559',
  '34.80',
  '34.80',
  '34.60',
  '34.80',
  ' ',
  '0.00',
  '34.75',
  '2',
  '34.80',
  '4',
  '47.67',
  ''],
 ['1234',
  '黑松',
  '69603',
  '69',
  '2500837',
  '35.85',
  '36.00',
  '35.80',
  '36.00',
  '+',
  '0.15',
  '35.90',
  '3',
  '36.00',
  '22',
  '15.79',
  ''],
 ['1235',
  '興泰',
  '6117',
  '9',
  '201302',
  '33.20',
  '33.20',
  '32.80',
  '32.80',
  '-',
  '0.65',
  '32.80',
  '2',
  '33.10',
  '1',
  '48.24',
  ''],
 ['1236',
  '宏亞',
  '83192',
  '88',
  '1254272',
  '15.00',
  '15.20',
  '14.90',
  '15.20',
  '+',
  '0.10',
  '15.15',
  '2',
  '15.25',
  '3',
  '34.55',
  ''],
 ['1256',
  '鮮活果汁-KY',
  '58736',
  '570',
  '28991395',
  '496.50',
  '497.00',
  '489.00',
  '491.50',
  '-',
  '5.00',
  '488.00',
  '2',
  '492.00',
  '1',
  '17.23',
  ''],
 ['1301',
  '台塑',
  '4740102',
  '1991',
  '490379097',
  '103.50',
  '104.50',
  '102.50',
  '104.00',
  '+',
  '0.50',
  '103.50',
  '164',
  '104.00',
  '381',
  '18.70',
  ''],
 ['1303',
  '南亞',
  '5736044',
  '3081',
  '502952097',
  '87.90',
  '88.00',
  '87.20',
  '87.90',
  '+',
  '0.70',
  '87.90',
  '72',
  '88.00',
  '660',
  '16.46',
  ''],
 ['1304',
  '台聚',
  '8953358',
  '4518',
  '318995398',
  '35.00',
  '36.25',
  '34.70',
  '36.25',
  '+',
  '1.20',
  '36.20',
  '137',
  '36.25',
  '93',
  '11.29',
  ''],
 ['1305',
  '華夏',
  '5661371',
  '2789',
  '217135162',
  '37.80',
  '38.80',
  '37.50',
  '38.80',
  '+',
  '1.10',
  '38.75',
  '48',
  '38.80',
  '153',
  '10.00',
  ''],
 ['1307',
  '三芳',
  '291971',
  '163',
  '7084614',
  '24.10',
  '24.40',
  '24.00',
  '24.35',
  '+',
  '0.30',
  '24.30',
  '5',
  '24.35',
  '1',
  '30.44',
  ''],
 ['1308',
  '亞聚',
  '10263008',
  '5160',
  '383941530',
  '36.75',
  '38.05',
  '36.10',
  '38.05',
  '+',
  '1.30',
  '38.05',
  '75',
  '38.10',
  '113',
  '14.63',
  ''],
 ['1309',
  '台達化',
  '5019345',
  '2740',
  '225211714',
  '44.15',
  '45.50',
  '43.80',
  '45.25',
  '+',
  '1.35',
  '45.25',
  '47',
  '45.30',
  '125',
  '6.88',
  ''],
 ['1310',
  '台苯',
  '4054398',
  '1772',
  '83179356',
  '20.15',
  '20.80',
  '20.10',
  '20.70',
  '+',
  '0.55',
  '20.65',
  '77',
  '20.70',
  '90',
  '13.02',
  ''],
 ['1312',
  '國喬',
  '10175667',
  '3834',
  '311624285',
  '30.15',
  '31.15',
  '29.80',
  '31.15',
  '+',
  '1.10',
  '31.10',
  '107',
  '31.15',
  '88',
  '4.78',
  ''],
 ['1312A',
  '國喬特',
  '35000',
  '16',
  '1251300',
  '36.00',
  '36.15',
  '35.65',
  '36.15',
  '+',
  '0.15',
  '35.70',
  '3',
  '36.25',
  '1',
  '0.00',
  ''],
 ['1313',
  '聯成',
  '8165774',
  '3462',
  '213688136',
  '25.50',
  '26.50',
  '25.50',
  '26.40',
  '+',
  '0.75',
  '26.40',
  '33',
  '26.45',
  '201',
  '8.00',
  ''],
 ['1314',
  '中石化',
  '41290554',
  '9895',
  '559102636',
  '13.30',
  '13.75',
  '13.25',
  '13.70',
  '+',
  '0.55',
  '13.65',
  '1009',
  '13.70',
  '109',
  '33.41',
  ''],
 ['1315',
  '達新',
  '119680',
  '120',
  '8291037',
  '68.60',
  '70.00',
  '68.60',
  '70.00',
  '+',
  '1.40',
  '70.00',
  '9',
  '70.20',
  '2',
  '1.72',
  ''],
 ['1316',
  '上曜',
  '676680',
  '273',
  '8589460',
  '12.50',
  '12.85',
  '12.50',
  '12.80',
  '+',
  '0.35',
  '12.75',
  '13',
  '12.80',
  '7',
  '41.29',
  ''],
 ['1319',
  '東陽',
  '740902',
  '374',
  '26576742',
  '35.50',
  '36.15',
  '35.50',
  '36.00',
  '+',
  '0.40',
  '36.00',
  '9',
  '36.05',
  '34',
  '30.77',
  ''],
 ['1321',
  '大洋',
  '150000',
  '73',
  '5417200',
  '36.00',
  '36.40',
  '35.90',
  '36.20',
  '+',
  '0.30',
  '36.10',
  '1',
  '36.20',
  '6',
  '12.07',
  ''],
 ['1323',
  '永裕',
  '43157',
  '33',
  '1466114',
  '33.75',
  '34.10',
  '33.75',
  '34.00',
  '+',
  '0.30',
  '33.95',
  '2',
  '34.00',
  '8',
  '10.97',
  ''],
 ['1324',
  '地球',
  '186000',
  '69',
  '2117750',
  '11.20',
  '11.50',
  '11.20',
  '11.50',
  '+',
  '0.20',
  '11.50',
  '17',
  '11.55',
  '1',
  '164.29',
  ''],
 ['1325',
  '恆大',
  '3317417',
  '2608',
  '243461057',
  '74.40',
  '74.50',
  '72.50',
  '73.80',
  'X',
  '0.00',
  '73.80',
  '12',
  '73.90',
  '15',
  '3.13',
  ''],
 ['1326',
  '台化',
  '4395410',
  '2335',
  '375096678',
  '85.50',
  '85.70',
  '85.20',
  '85.30',
  '-',
  '0.60',
  '85.30',
  '138',
  '85.40',
  '33',
  '13.48',
  ''],
 ['1337',
  '再生-KY',
  '1628814',
  '682',
  '13574642',
  '8.08',
  '8.48',
  '8.07',
  '8.37',
  '+',
  '0.33',
  '8.34',
  '5',
  '8.37',
  '49',
  '0.00',
  ''],
 ['1338',
  '廣華-KY',
  '391827',
  '244',
  '26333043',
  '67.00',
  '67.80',
  '66.60',
  '67.40',
  '+',
  '0.90',
  '67.30',
  '4',
  '67.40',
  '4',
  '13.37',
  ''],
 ['1339',
  '昭輝',
  '135050',
  '85',
  '5186472',
  '38.25',
  '38.55',
  '38.05',
  '38.40',
  '+',
  '0.25',
  '38.40',
  '4',
  '38.45',
  '2',
  '26.85',
  ''],
 ['1340',
  '勝悅-KY',
  '220174',
  '212',
  '2554491',
  '11.65',
  '11.70',
  '11.55',
  '11.65',
  ' ',
  '0.00',
  '11.65',
  '11',
  '11.70',
  '20',
  '0.00',
  ''],
 ['1341',
  '富林-KY',
  '31052',
  '14',
  '2545283',
  '82.20',
  '82.20',
  '81.70',
  '81.90',
  '-',
  '0.90',
  '82.00',
  '1',
  '83.30',
  '1',
  '11.58',
  ''],
 ['1342',
  '八貫',
  '61447',
  '52',
  '3324087',
  '54.20',
  '54.70',
  '53.80',
  '54.60',
  '+',
  '0.40',
  '53.90',
  '4',
  '54.60',
  '2',
  '19.71',
  ''],
 ['1402',
  '遠東新',
  '3274680',
  '1318',
  '107149656',
  '32.50',
  '32.85',
  '32.50',
  '32.80',
  '+',
  '0.20',
  '32.75',
  '26',
  '32.80',
  '237',
  '18.96',
  ''],
 ['1409',
  '新纖',
  '9028217',
  '3169',
  '191183737',
  '20.95',
  '21.50',
  '20.80',
  '21.50',
  '+',
  '0.55',
  '21.45',
  '66',
  '21.50',
  '9',
  '9.86',
  ''],
 ['1410',
  '南染',
  '14232',
  '14',
  '482060',
  '33.60',
  '34.30',
  '33.50',
  '34.30',
  'X',
  '0.00',
  '33.55',
  '2',
  '34.20',
  '2',
  '35.73',
  ''],
 ['1413',
  '宏洲',
  '224888',
  '128',
  '2475213',
  '10.85',
  '11.10',
  '10.85',
  '11.05',
  '+',
  '0.15',
  '11.00',
  '9',
  '11.05',
  '21',
  '0.00',
  ''],
 ['1414',
  '東和',
  '874016',
  '399',
  '14843073',
  '16.75',
  '17.15',
  '16.70',
  '17.00',
  '+',
  '0.35',
  '17.00',
  '1',
  '17.05',
  '8',
  '38.64',
  ''],
 ['1416',
  '廣豐',
  '391430',
  '197',
  '4293747',
  '10.95',
  '11.05',
  '10.90',
  '11.00',
  ' ',
  '0.00',
  '10.95',
  '85',
  '11.00',
  '1',
  '0.00',
  ''],
 ['1417',
  '嘉裕',
  '867737',
  '369',
  '13215647',
  '14.85',
  '15.45',
  '14.85',
  '15.25',
  '+',
  '0.40',
  '15.20',
  '29',
  '15.25',
  '4',
  '0.00',
  ''],
 ['1418',
  '東華',
  '31663',
  '21',
  '367968',
  '11.65',
  '11.70',
  '11.25',
  '11.70',
  ' ',
  '0.00',
  '11.35',
  '10',
  '11.65',
  '1',
  '0.00',
  ''],
 ['1419',
  '新紡',
  '11680',
  '16',
  '484735',
  '41.40',
  '41.70',
  '41.40',
  '41.70',
  '+',
  '0.10',
  '41.55',
  '8',
  '41.70',
  '2',
  '30.00',
  ''],
 ['1423',
  '利華',
  '108381',
  '54',
  '2335000',
  '21.50',
  '21.65',
  '21.45',
  '21.45',
  '-',
  '0.05',
  '21.45',
  '22',
  '21.65',
  '25',
  '7.08',
  ''],
 ['1432',
  '大魯閣',
  '144352',
  '193',
  '2005911',
  '13.70',
  '14.10',
  '13.70',
  '14.10',
  '+',
  '0.40',
  '14.00',
  '1',
  '14.10',
  '2',
  '74.21',
  ''],
 ['1434',
  '福懋',
  '619086',
  '411',
  '19792189',
  '32.00',
  '32.15',
  '31.90',
  '31.95',
  '-',
  '0.05',
  '31.95',
  '7',
  '32.00',
  '73',
  '23.15',
  ''],
 ['1435',
  '中福',
  '32515',
  '21',
  '656934',
  '20.15',
  '20.45',
  '20.15',
  '20.30',
  '+',
  '0.05',
  '20.25',
  '2',
  '20.35',
  '5',
  '0.00',
  ''],
 ['1436',
  '華友聯',
  '37113',
  '63',
  '1529841',
  '41.00',
  '41.95',
  '41.00',
  '41.25',
  '+',
  '0.30',
  '41.20',
  '1',
  '41.25',
  '1',
  '17.48',
  ''],
 ['1437',
  '勤益控',
  '78213',
  '22',
  '1963214',
  '25.10',
  '25.20',
  '25.10',
  '25.10',
  '+',
  '0.05',
  '25.10',
  '4',
  '25.20',
  '34',
  '11.11',
  ''],
 ['1438',
  '三地開發',
  '9002',
  '8',
  '264206',
  '29.35',
  '29.35',
  '29.35',
  '29.35',
  ' ',
  '0.00',
  '29.35',
  '1',
  '29.40',
  '1',
  '0.00',
  ''],
 ['1439',
  '雋揚',
  '24496',
  '24',
  '585411',
  '23.75',
  '24.00',
  '23.70',
  '23.90',
  '+',
  '0.05',
  '23.80',
  '15',
  '23.90',
  '3',
  '0.00',
  ''],
 ['1440',
  '南紡',
  '17492563',
  '5722',
  '454063169',
  '25.60',
  '26.55',
  '25.20',
  '26.55',
  '+',
  '1.20',
  '26.50',
  '282',
  '26.55',
  '70',
  '22.50',
  ''],
 ['1441',
  '大東',
  '252946',
  '152',
  '2835778',
  '11.30',
  '11.35',
  '11.05',
  '11.25',
  '+',
  '0.25',
  '11.20',
  '9',
  '11.25',
  '48',
  '0.00',
  ''],
 ['1442',
  '名軒',
  '203544',
  '78',
  '3797046',
  '18.75',
  '18.75',
  '18.60',
  '18.75',
  '+',
  '0.05',
  '18.70',
  '28',
  '18.75',
  '32',
  '50.68',
  ''],
 ['1443',
  '立益物流',
  '52396',
  '41',
  '807256',
  '15.15',
  '15.55',
  '15.15',
  '15.50',
  '+',
  '0.35',
  '15.40',
  '7',
  '15.50',
  '5',
  '0.00',
  ''],
 ['1444',
  '力麗',
  '4700222',
  '1591',
  '58486065',
  '12.15',
  '12.60',
  '12.15',
  '12.50',
  '+',
  '0.35',
  '12.50',
  '96',
  '12.55',
  '209',
  '0.00',
  ''],
 ['1445',
  '大宇',
  '61142',
  '49',
  '736531',
  '12.00',
  '12.40',
  '11.90',
  '12.25',
  '+',
  '0.20',
  '12.10',
  '3',
  '12.15',
  '1',
  '0.00',
  ''],
 ['1446',
  '宏和',
  '92000',
  '54',
  '2951050',
  '32.05',
  '32.30',
  '31.85',
  '32.10',
  '+',
  '0.05',
  '32.05',
  '1',
  '32.10',
  '4',
  '356.67',
  ''],
 ['1447',
  '力鵬',
  '5724479',
  '1724',
  '70667041',
  '12.10',
  '12.50',
  '12.05',
  '12.50',
  '+',
  '0.50',
  '12.45',
  '53',
  '12.50',
  '111',
  '0.00',
  ''],
 ['1449',
  '佳和',
  '125733',
  '72',
  '1971515',
  '15.60',
  '15.80',
  '15.60',
  '15.65',
  '+',
  '0.05',
  '15.60',
  '7',
  '15.65',
  '4',
  '0.00',
  ''],
 ['1451',
  '年興',
  '199298',
  '128',
  '4101081',
  '20.30',
  '20.75',
  '20.30',
  '20.60',
  '+',
  '0.25',
  '20.55',
  '2',
  '20.60',
  '1',
  '0.00',
  ''],
 ['1452',
  '宏益',
  '1835193',
  '816',
  '45932319',
  '24.70',
  '25.40',
  '24.45',
  '25.25',
  '+',
  '0.90',
  '25.25',
  '9',
  '25.30',
  '23',
  '14.68',
  ''],
 ['1453',
  '大將',
  '84726',
  '55',
  '750151',
  '8.75',
  '9.00',
  '8.75',
  '9.00',
  '+',
  '0.13',
  '8.91',
  '1',
  '9.03',
  '7',
  '12.33',
  ''],
 ['1454',
  '台富',
  '193406',
  '91',
  '2017720',
  '10.30',
  '10.60',
  '10.30',
  '10.45',
  '+',
  '0.20',
  '10.35',
  '22',
  '10.45',
  '1',
  '0.00',
  ''],
 ['1455',
  '集盛',
  '9985766',
  '4206',
  '216385692',
  '21.20',
  '22.15',
  '20.85',
  '22.10',
  '+',
  '0.90',
  '22.10',
  '1',
  '22.15',
  '113',
  '21.67',
  ''],
 ['1456',
  '怡華',
  '473570',
  '284',
  '9768681',
  '20.75',
  '21.00',
  '20.35',
  '20.75',
  '+',
  '0.05',
  '20.70',
  '6',
  '20.80',
  '6',
  '9.98',
  ''],
 ['1457',
  '宜進',
  '1408398',
  '643',
  '26193657',
  '18.30',
  '18.80',
  '18.30',
  '18.75',
  '+',
  '0.55',
  '18.70',
  '34',
  '18.75',
  '9',
  '5.53',
  ''],
 ['1459',
  '聯發',
  '731632',
  '350',
  '10282243',
  '13.60',
  '14.30',
  '13.60',
  '14.10',
  '+',
  '0.40',
  '14.10',
  '31',
  '14.15',
  '12',
  '14.24',
  ''],
 ['1460',
  '宏遠',
  '2158771',
  '1279',
  '28326332',
  '12.75',
  '13.50',
  '12.55',
  '13.25',
  '+',
  '0.55',
  '13.25',
  '4',
  '13.30',
  '8',
  '0.00',
  ''],
 ['1463',
  '強盛',
  '267766',
  '144',
  '3949216',
  '14.60',
  '14.85',
  '14.60',
  '14.80',
  '+',
  '0.30',
  '14.75',
  '57',
  '14.80',
  '3',
  '51.03',
  ''],
 ['1464',
  '得力',
  '431335',
  '252',
  '7722530',
  '17.70',
  '18.05',
  '17.70',
  '18.00',
  '+',
  '0.35',
  '17.95',
  '4',
  '18.00',
  '32',
  '0.00',
  ''],
 ['1465',
  '偉全',
  '84498',
  '74',
  '1097315',
  '12.95',
  '13.00',
  '12.95',
  '13.00',
  '+',
  '0.05',
  '13.00',
  '2',
  '13.05',
  '6',
  '0.00',
  ''],
 ['1466',
  '聚隆',
  '2655472',
  '1362',
  '49693366',
  '17.70',
  '19.30',
  '17.50',
  '19.00',
  '+',
  '1.40',
  '19.00',
  '41',
  '19.05',
  '16',
  '22.35',
  ''],
 ['1467',
  '南緯',
  '999487',
  '562',
  '15624933',
  '15.30',
  '16.00',
  '15.20',
  '15.80',
  '+',
  '0.60',
  '15.80',
  '13',
  '15.85',
  '12',
  '12.25',
  ''],
 ['1468',
  '昶和',
  '43150',
  '37',
  '495909',
  '11.30',
  '11.60',
  '11.30',
  '11.50',
  '+',
  '0.10',
  '11.45',
  '2',
  '11.60',
  '5',
  '34.85',
  ''],
 ['1470',
  '大統新創',
  '12050',
  '10',
  '198839',
  '16.50',
  '16.50',
  '16.50',
  '16.50',
  '-',
  '0.05',
  '16.50',
  '2',
  '16.65',
  '2',
  '56.90',
  ''],
 ['1471',
  '首利',
  '1255099',
  '457',
  '12639930',
  '10.10',
  '10.30',
  '9.94',
  '10.00',
  '+',
  '0.06',
  '10.00',
  '3',
  '10.05',
  '10',
  '3.25',
  ''],
 ['1472',
  '三洋實業',
  '12022',
  '10',
  '119488',
  '10.05',
  '10.05',
  '9.80',
  '9.80',
  '+',
  '0.08',
  '9.80',
  '20',
  '9.90',
  '9',
  '0.00',
  ''],
 ['1473',
  '台南',
  '28852',
  '62',
  '527343',
  '18.25',
  '18.30',
  '18.25',
  '18.30',
  ' ',
  '0.00',
  '18.25',
  '9',
  '18.30',
  '6',
  '0.00',
  '']]

In [3]:
# step 3. 轉換成資料集格式稱之為pandas.DataFrame

# Excel Sheet(single user) = SQL Server database table (multiple users + transaction)
# DataFrame.rename(columns = {'證券代號':'Id', '證券名稱':'Name'})
df = pd.DataFrame(tickers)
df.columns = df.loc[0, :]
df.drop(0, axis = 0 , inplace = True)
df[:3]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,
1,1101,台泥,11938157,5094,615005211,51.50,51.80,51.30,51.60,+,0.10,51.50,325,51.60,114,12.34,
2,1101B,台泥乙特,0,0,0,--,--,--,--,,0.00,53.40,2,53.90,15,0.00,
3,1102,亞泥,8267759,3635,430280018,52.50,52.60,51.80,51.90,-,0.60,51.90,146,52.00,2027,10.16,

In [4]:
# step 4. basic analysis

df.shape
df.describe()
#df.to_csv('c:\Python\datestr.csv')

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,
count,983,983,983,983,983,983,983,983,983,983,983,983,983,983,983,983,983
unique,983,983,981,722,982,737,741,731,750,4,122,745,204,720,177,721,1
top,1101,台泥,0,14,0,11.90,68.50,62.80,20.75,+,0.00,14.75,1,--,1,0.00,
freq,1,1,2,6,2,6,4,5,5,695,97,5,127,30,126,178,983

In [5]:
df[:3]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,
1,1101,台泥,11938157,5094,615005211,51.50,51.80,51.30,51.60,+,0.10,51.50,325,51.60,114,12.34,
2,1101B,台泥乙特,0,0,0,--,--,--,--,,0.00,53.40,2,53.90,15,0.00,
3,1102,亞泥,8267759,3635,430280018,52.50,52.60,51.80,51.90,-,0.60,51.90,146,52.00,2027,10.16,

In [7]:
# step 5. append data to Azure SQL Server (Error:缺少套件)

import pyodbc
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(r'DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

#將資料回寫後端資料庫(會重複寫入，因為它沒有判斷能力)
df.to_sql(name = 'tblTWSE', con = engine, if_exists = 'append', index = False, schema = "dbo")

ModuleNotFoundError: No module named 'sqlalchemy'

In [8]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.0-cp38-cp38-win_amd64.whl (1.9 MB)
     ---------------------------------------- 1.9/1.9 MB 9.5 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp38-cp38-win_amd64.whl (192 kB)
     ---------------------------------------- 192.1/192.1 kB ? eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.0 typing-extensions-4.4.0

In [9]:
# step 5. append data to Azure SQL Server (Error:名稱裡有空白)

import pyodbc
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(r'DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

#將資料回寫後端資料庫(會重複寫入，因為它沒有判斷能力)
df.to_sql(name = 'tblTWSE', con = engine, if_exists = 'append', index = False, schema = "dbo")

ArgumentError: Column must be constructed with a non-blank name or assign a non-blank .name before adding to a Table.

In [10]:
df.columns

Index(['證券代號', '證券名稱', '成交股數', '成交筆數', '成交金額', '開盤價', '最高價', '最低價', '收盤價',
       '漲跌(+/-)', '漲跌價差', '最後揭示買價', '最後揭示買量', '最後揭示賣價', '最後揭示賣量', '本益比', ''],
      dtype='object', name=0)

In [11]:
# step 5. append data to Azure SQL Server

import pyodbc
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(r'DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

#將資料回寫後端資料庫(會重複寫入，因為它沒有判斷能力)
df.iloc[:, :-1].to_sql(name = 'tblTWSE', con = engine, if_exists = 'append', index = False, schema = "dbo")

66

In [12]:
# step 6. python查詢SQL Server (Error:證券名稱未正確)

import pyodbc 
import pandas as pd

conn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021")      
stmt = """
SELECT * from tblTWSE
"""
dfazure = pd.read_sql(stmt, conn)
dfazure

C:\Users\sadmin\AppData\Local\Temp\2\ipykernel_8072\1701666716.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfazure = pd.read_sql(stmt, conn)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,1101,??,11938157,5094,615005211,51.50,51.80,51.30,51.60,+,0.10,51.50,325,51.60,114,12.34
1,1101B,????,0,0,0,--,--,--,--,,0.00,53.40,2,53.90,15,0.00
2,1102,??,8267759,3635,430280018,52.50,52.60,51.80,51.90,-,0.60,51.90,146,52.00,2027,10.16
3,1103,??,635035,446,14180092,22.30,22.45,22.25,22.35,+,0.10,22.35,4,22.40,11,7.79
4,1104,??,661056,421,15094002,23.05,23.05,22.75,23.00,+,0.05,22.95,110,23.00,15,10.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,9944,??,824355,366,18495576,21.85,22.80,21.85,22.55,+,0.70,22.50,2,22.55,1,30.47
979,9945,???,5598600,3203,361218660,63.80,64.90,63.80,64.80,+,1.50,64.70,42,64.80,83,7.95
980,9946,????,50223,57,740196,14.70,14.80,14.70,14.75,+,0.05,14.75,6,14.80,10,92.19
981,9955,??,256031,182,4733216,18.10,18.70,18.05,18.60,+,0.60,18.60,8,18.65,3,0.00
982,9958,???,2642784,1922,342802180,127.00,132.00,126.50,131.00,+,4.50,131.00,41,131.50,76,28.36

In [13]:
# back to step 5. append data to Azure SQL Server

import pyodbc
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(r'DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

#將資料回寫後端資料庫(會重複寫入，因為它沒有判斷能力)
df.iloc[:, :-1].to_sql(name = 'tblTWSE', con = engine, if_exists = 'append', index = False, schema = "dbo")

66

In [14]:
# start again step 6. python查詢SQL Server（待解決“證券名稱”問題）

import pyodbc 
import pandas as pd

conn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=tempdb;UID=sadmin;PWD=Pa$$w0rd@2021")      
stmt = """
SELECT * from tblTWSE
"""
dfazure = pd.read_sql(stmt, conn)
dfazure

C:\Users\sadmin\AppData\Local\Temp\2\ipykernel_8072\1303063906.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfazure = pd.read_sql(stmt, conn)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,1101,??,11938157,5094,615005211,51.50,51.80,51.30,51.60,+,0.10,51.50,325,51.60,114,12.34
1,1101B,????,0,0,0,--,--,--,--,,0.00,53.40,2,53.90,15,0.00
2,1102,??,8267759,3635,430280018,52.50,52.60,51.80,51.90,-,0.60,51.90,146,52.00,2027,10.16
3,1103,??,635035,446,14180092,22.30,22.45,22.25,22.35,+,0.10,22.35,4,22.40,11,7.79
4,1104,??,661056,421,15094002,23.05,23.05,22.75,23.00,+,0.05,22.95,110,23.00,15,10.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,9944,??,824355,366,18495576,21.85,22.80,21.85,22.55,+,0.70,22.50,2,22.55,1,30.47
979,9945,???,5598600,3203,361218660,63.80,64.90,63.80,64.80,+,1.50,64.70,42,64.80,83,7.95
980,9946,????,50223,57,740196,14.70,14.80,14.70,14.75,+,0.05,14.75,6,14.80,10,92.19
981,9955,??,256031,182,4733216,18.10,18.70,18.05,18.60,+,0.60,18.60,8,18.65,3,0.00
982,9958,???,2642784,1922,342802180,127.00,132.00,126.50,131.00,+,4.50,131.00,41,131.50,76,28.36