#### 在VM Desktop環境連線至Microsoft Azure SQL Server，再操作Python連接至SQL

In [6]:
!pip3 install pyodbc

Requirement already satisfied: pyodbc in c:\python38\lib\site-packages (4.0.35)

WARNING: You are using pip version 20.2.3; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

In [11]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=(local);Database=master;UID=sadmin;PWD=Pa$$w0rd@2021')
stmt = 'SELECT GETDATE()+8/24.0 AS [NOW], HOST_NAME() AS [CLIENT], @@SERVERNAME'
# 執行上述命令抓取資料
df = pd.read_sql(stmt, conn)
df

C:\Users\sadmin\AppData\Local\Temp\2\ipykernel_3900\2565165132.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(stmt, conn)

                      NOW       CLIENT
0 2023-01-28 23:32:07.747  azvmsql0720  azvmsql0720